<div class="row form">
    <%= form_for current_user do |f| %>
      <h2 class="user_edit">登録情報</h2>
      <div class="user_wrapper">
        
        <div class="form-group1">
          <h3 class="user-name">ニックネーム</h3>
        <div class="col-lg-6">
          <%= f.text_field :nickname, placeholder: "nickname", class: "nickname-edit" %>
        </div>
        </div>
        
        <div class="form-group2">
          <h3 class="user-login-mail">ログインメールアドレス</h3>
        <div class="col-lg-7">
          <%= f.text_field :email, placeholder: "email", class: "email-edit" %>
        </div>
        </div>
        
        <h3 class="user_profile">プロフィール画像</h3>
          <div class="form-group file">
            <%= f.file_field :image, class: "form-control floating-label", placeholder: "画像アップロード" %>
          </div>
        
        <h3 class="user-name-self">自己紹介</h3>
        <div class="user_text_edit">
            <%= f.text_area :text,rows: 8,class: "form-control"%>
        </div>
        
        <div class="form-group-submit">
          <%= f.submit "更新する", class: "user-self-submit" %>
        </div>
    <% end %>
      </div>
</div>