<!--<div class="user_show_image">-->
<div class="user_show">
<div class="user_image"><%= image_tag @user.image %></div>
<h2><span><%= @user.nickname %></span>さん</span></h2>


    <% if current_user.id == @user.id %>
        <%= link_to "プロフィール編集", edit_user_path(current_user), {:class => "btn btn-primary withripple" }%>
    <% end %>


    <% if @comment.present? %>
<h3><span><%= @user.nickname %></span>さんのレビューした書籍一覧</span></h3>
        <%= render partial: 'users/comment', collection: @comment %>
    <% end %>
</div>